* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    color: rgb(255, 255, 255);
}

h1 {
    color: white;
    background-color: green;
    padding: 10px;
    text-align: center;
}

h2 {
    background-color: rgb(143, 206, 48);
    padding: 5px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1100px;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}

