h1 {
   font-family: verdana;
   color: rgba(0, 0, 0, 0.774);
}

h3 {
    font-family: arial;
    color: rgba(0, 0, 0, 0.774);
}

h6 {
    font-family: arial;
}

p {
    font-family: Arial Narrow;
}

body {
background-color: rgb(165, 255, 210);
}